.pokemon-wrapper{
    display: block;
    flex-basis: 30%;
    text-decoration: none;
    color: black;
}

.pokemon{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    max-width: 400px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: bisque;
}

.pokemon:hover{
    background-color: burlywood;
}

.pokemon-image{
    max-height: 50%;
    min-height: 200px;
    max-width: 100%;
    text-align: center;
}

.pokemon-name{
    margin: 1rem auto;
    letter-spacing: 4px;
    font-size: x-large;
    font-weight: bold;
}

